<a href="https://colab.research.google.com/github/rubensuarez22/DataSetML/blob/main/MLExam1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
import pandas as pd
import matplotlib.pyplot as plt

#
url = 'https://raw.githubusercontent.com/rubensuarez22/DataSetML/refs/heads/main/Air_Traffic_Passenger_Statistics.csv'

df = pd.read_csv(url)

df.head()

df.head(25)

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090
5,200507,Air China,CA,Air China,CA,International,Asia,Deplaned,Other,International,G,6263
6,200507,Air China,CA,Air China,CA,International,Asia,Enplaned,Other,International,G,5500
7,200507,Air France,AF,Air France,AF,International,Europe,Deplaned,Other,International,A,12050
8,200507,Air France,AF,Air France,AF,International,Europe,Enplaned,Other,International,A,11638
9,200507,Air New Zealand,NZ,Air New Zealand,NZ,International,Australia / Oceania,Deplaned,Other,International,G,4998
10,200507,Air New Zealand,NZ,Air New Zealand,NZ,International,Australia / Oceania,Enplaned,Other,International,G,4962
11,200507,AirTran Airways,FL,AirTran Airways,FL,Domestic,US,Deplaned,Low Fare,International,A,8055
12,200507,AirTran Airways,FL,AirTran Airways,FL,Domestic,US,Enplaned,Low Fare,International,A,7984
13,200507,Alaska Airlines,AS,Alaska Airlines,AS,Domestic,US,Deplaned,Other,International,A,36641
14,200507,Alaska Airlines,AS,Alaska Airlines,AS,Domestic,US,Enplaned,Other,International,A,39379
15,200507,Alaska Airlines,AS,Alaska Airlines,AS,Domestic,US,Thru / Transit,Other,International,A,3678
16,200507,Alaska Airlines,AS,Alaska Airlines,AS,International,Canada,Deplaned,Other,International,A,7977
17,200507,Alaska Airlines,AS,Alaska Airlines,AS,International,Canada,Enplaned,Other,International,A,8837
18,200507,Alaska Airlines,AS,Alaska Airlines,AS,International,Mexico,Deplaned,Other,International,A,6969
19,200507,Alaska Airlines,AS,Alaska Airlines,AS,International,Mexico,Enplaned,Other,International,A,10046
20,200507,Alaska Airlines,AS,Alaska Airlines,AS,International,Mexico,Thru / Transit,Other,International,A,2266
21,200507,"All Nippon Company Airways, Ltd.",NH,"All Nippon Company Airways, Ltd.",NH,International,Asia,Deplaned,Other,International,G,6545
22,200507,"All Nippon Company Airways, Ltd.",NH,"All Nippon Company Airways, Ltd.",NH,International,Asia,Enplaned,Other,International,G,6094
23,200507,American Airlines,AA,American Airlines,AA,Domestic,US,Deplaned,Other,Terminal 3,E,166577
24,200507,American Airlines,AA,American Airlines,AA,Domestic,US,Enplaned,Other,Terminal 3,E,160890

In [58]:

# Step 1: Eliminate all the columns leaving only: "Activity Period", "Operating Airline","Published Airline IATA Code", "GEO Region", "Activity Type Code", and "Passenger Count"

columns_to_keep = ["Activity Period", "Operating Airline", "Published Airline IATA Code", "GEO Region", "Activity Type Code", "Passenger Count"]
df_filtered = df[columns_to_keep]
df_filtered.head()

print('Lets see how many many rows we have filter the rows that doesnt have a AITA Code:', df_filtered.shape[0])

Lets see how many many rows we have filter the rows that doesnt have a AITA Code: 26576

In [59]:
# Step 2: Eliminate all the rows that do not have a "Published Airline IATA Code"
df_filtered = df_filtered.dropna(subset=["Published Airline IATA Code"])

print('Now we reduced the number to', df_filtered.shape[0])

Now we reduced the number to 26445

In [60]:
# Step 3 Substitute the "GEO Region" values with a numerical code, explaining why you decided to choose a certain code.

# Ver la frecuencia de los valores en la columna "GEO Region"
print(df_filtered["GEO Region"].value_counts())
# Diccionaro para mapear las regiones.
geo_region_mapping = {
    "US": 1,
    "Asia":2,
    "Europe": 3,
    "Canada": 4,
    "Mexico": 5,
    "Australia / Oceania": 6,
    "Central America": 7,
    "Middle East": 8,
    "South America": 9,
}

#Los codigos fueron escogidos por la frecuencia
# Ver los valores únicos en la columna "GEO Region"

# Aplicar el mapeo a la columna "GEO Region"
df_filtered["GEO Region"] = df_filtered["GEO Region"].map(geo_region_mapping)

# Verificar los resultados
df_filtered.head()

GEO Region
US                     9220
Asia                   5591
Europe                 4354
Canada                 2465
Mexico                 2018
Australia / Oceania    1436
Central America         645
Middle East             625
South America            91
Name: count, dtype: int64

,Activity Period,Operating Airline,Published Airline IATA Code,GEO Region,Activity Type Code,Passenger Count
0,200507,ATA Airlines,TZ,1,Deplaned,27271
1,200507,ATA Airlines,TZ,1,Enplaned,29131
2,200507,ATA Airlines,TZ,1,Thru / Transit,5415
3,200507,Air Canada,AC,4,Deplaned,35156
4,200507,Air Canada,AC,4,Enplaned,34090

In [61]:
#Step 4: Create a new table and a graph for all flights operated by a mexican airline, showing one line for each category of the "Activity Type Code", showing how many flights have deplaned in San Francisco, how many enplaned, or passed though in transit in each month.


# Filtrar vuelos operados por aerolíneas mexicanas (ejemplo: Aeroméxico, Volaris, Interjet)
mexican_airlines_codes = ['AM', 'Y4', '4O']  # Lista de códigos IATA de aerolíneas mexicanas obtenidas de https://madavan.com.mx/codigo-iata-aerolineas/

df_mexican_airlines = df_filtered[df_filtered['Published Airline IATA Code'].isin(mexican_airlines_codes)]

# Mostrar el resultado filtrado
print(df_mexican_airlines.head())
print('Total de columnas con aerolineas mexicanas', df_mexican_airlines.shape[0])

      Activity Period Operating Airline Published Airline IATA Code  \
2292           200703        Aeromexico                          AM
2293           200703        Aeromexico                          AM
5023           200902        Aeromexico                          AM
5024           200902        Aeromexico                          AM
5136           200903        Aeromexico                          AM

      GEO Region Activity Type Code  Passenger Count
2292           5           Deplaned              262
2293           5           Enplaned              262
5023           5           Deplaned             1444
5024           5           Enplaned             1453
5136           5           Deplaned             2941
Total de columnas con aerolineas mexicanas 460

In [62]:
#Extra: For 2 extra points; calculate the average number of passengers per year that have Deplaned in this airport.


# Obtener los aterrizajes en 2015
df_deplaned_2015 = df_filtered[
    (df_filtered["Activity Type Code"] == "Deplaned") &
    (df_filtered["Activity Period"].astype(str).str[:4] == '2015')
]

# Sumar el conteo de pasajeros deplaned en 2015
total_deplaned_2015 = df_deplaned_2015['Passenger Count'].sum()
print("Total de pasajeros deplaned en 2015:", total_deplaned_2015)

Total de pasajeros deplaned en 2015: 25093661